.chat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /*выравнивание элементов по X, по краям контейнера*/

}

.chat-img {
    margin-bottom: 70px; /*отступ от картинки к тексту*/
    height: 50%;
    width: 50%;
}

.chat-cards-wrapper { /*правильное размещение карточек (флексбокс)*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.chat-card {
    margin-bottom: 30px; /*внешний нижний отступ карточек*/
    background-color: #FFFFFF;

    box-sizing: border-box; /*ширина для блока включая контент, паддинги, рамки*/
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35); /*тень карточек*/

    border: 0px solid #000000; /*окантовка кнопки*/
    border-radius: 20px;

    text-transform: uppercase;
    text-transform: none;
    text-decoration: none;
    transition: all 0.3s ease-in; /*плавная анимация вверх при наведении на карточку*/
}

.chat-card:hover {
    background-color: #F09533;
    transform: translateY(-15px); /*чтобы при наведении карточка поднималась вверх по Y*/
}

.card-link {
    padding: 20px; /*внутренний отступ со всех сторон*/
    color:#000000; /*чтобы ссылка всегда была черной*/
    text-decoration: none; /*убрали подчеркивание ссылки карточки*/
    display: block; /*чтобы ссылка оборачивала всю карточку*/
    transition: color 0.3s ease-in; /*плавная анимация смены цвета при наведении на карточку*/
}

.card-link:hover {
    color:rgb(255, 255, 255); /*чтобы при наведение на карточку текст становился цветной*/
}


/*VIDEOCHAT*/


.videochat {
    display: flex;
    flex-direction: column;
    justify-content: center; /*выравнивание элементов по X, по краям контейнера*/
}

.videochat-img {
    margin-bottom: 70px; /*отступ от картинки к тексту*/
}

.videochat-cards-wrapper { /*правильное размещение карточек (флексбокс)*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videochat-card {
    margin-top: 20px;
    margin-bottom: 30px; /*внешний нижний отступ карточек*/
    background-color: #FFFFFF;

    height: 80px;
    width: 200px;
    box-sizing:border-box; /*ширина для блока включая контент, паддинги, рамки*/
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35); /*тень карточек*/

    border: 0px solid #000000; /*окантовка кнопки*/
    border-radius: 20px;

    text-transform: uppercase;
    text-transform: none;
    text-decoration: none;
    transition: all 0.3s ease-in; /*плавная анимация вверх при наведении на карточку*/
}

.videochat-card:hover {
    background-color: #F09533;
    transform: translateY(-15px); /*чтобы при наведении карточка поднималась вверх по Y*/
}

.videocard-link {
    padding: 20px; /*внутренний отступ со всех сторон*/
    color:#000000; /*чтобы ссылка всегда была черной*/
    text-decoration: none; /*убрали подчеркивание ссылки карточки*/
    display: block; /*чтобы ссылка оборачивала всю карточку*/
    transition: color 0.3s ease-in; /*плавная анимация смены цвета при наведении на карточку*/
}

.videocard-link:hover {
    color:rgb(255, 255, 255); /*чтобы при наведение на карточку текст становился цветной*/
}